.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto); 
    gap: 20px;
    margin: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translate3D(0, -5px, 0) scale(1.03);
}

.container {
    padding: 16px;
}

.card img {
    max-width: 40%;
    height: auto;
}

.card h4 {
    color: black;
}

.card p {
    color: #8e8e8e;
}

.card2 {
    grid-column: span 2;
}


.card-content {
    position: relative;
}

.mark-as-read {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

  
  .hidden-checkbox {
    display: none;
  }
  
  .custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #0d71bd;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .custom-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 12px;
    border: solid #0d71bd;
    border-width: 0 2px 2px 0;
    transition: transform 0.2s ease-in-out;
    opacity: 0;
}
  
  .hidden-checkbox:checked + .custom-checkbox {
    background-color: #0d71bd;
  }
  
  .label-text {
    margin-left: 8px;
    color: #000; 
  }
  
  .custom-checkbox-label {
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}
  
.custom-checkbox:hover {
    background-color: #f0f0f0;
}

.custom-checkbox:active {
    background-color: #e0e0e0;
}

.hidden-checkbox:checked + .custom-checkbox::before {
    content: "\2713"; 
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    font-size: 16px; 
  }