footer {
    border: 3px solid rgba(13, 113, 189, 0.3);
    padding: 10px; 
}

.footer-content {
    text-align: center; 
}

.footer-content .image2 {
    max-width: 150px; 
}

.footer-content p {
    font-size: 14px; 
    color: #666;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-content li {
    margin: 0 10px;
}

.footer-content a {
    text-decoration: none;
    color: #666;
}
