nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

.home,
.news,
.chat,
.directory,
.notifications {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}


.news:hover {
background-color: #0d71bd;    
color: #040404;
}

.news {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    font-weight: bold;
    color: #0d71bd; 
}
